<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-striped">
            <tr>
                <td class="form-item-title">
                    角色
                </td>
                <td>
                    <select required name="roleId" id="roleId" maxlength="20" class="form-control"
                            placeholder="请选择角色">
                        <option value="*">请选择角色</option>
                        <option value="1">暂无信息</option>
                    </select>
                    <!--<input required type="text" maxlength="20" name="loginName" class="form-control" placeholder="请输入登录名">-->
                </td>
                <td class="form-item-remark"></td>
            </tr>
        </table>
    </form>
</div>

