<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    新闻标题
                </td>
                <td>
                    <input required type="text" name="title" tips-id="title-tips" data-length="255"
                           onblur="checkRegular(this);" maxlength="40" class="form-control"
                           placeholder="请输入新闻标题">
                </td>
                <td class="form-item-remark"><span id="title-tips"></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    封面图片
                </td>
                <td>
                    <img src="" id="artworkURL" data-path="" class="img-responsive"
                         width="140px" height="160px" style="display: block;float: left;">
                    &nbsp;&nbsp;
                    <button class="btn btn-success btn-upload" type="button" onClick="$('#faceImage').click();">
                        <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">上传</span>
                    </button>
                    <input type="file" id="faceImage" class="hide" onChange="javascript:opt.upload('faceImage');">
                    <!--<input name="pictureId" type="hidden" id="pictureId">-->
                    <input type="hidden" required type="text"
                           accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" name="pictureId" id="pictureId"
                           maxlength="20" class="form-control"
                           placeholder="请上传图片">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    作者
                </td>
                <td>
                    <input required type="text" name="author" id="author" tips-id="author-tips"
                           data-length="255" maxlength="50" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入作者">
                </td>
                <td class="form-item-remark"><span id="author--tips"></span></td>


            </tr>
            <tr>
                <td class="form-item-title">
                    来源
                </td>
                <td>
                    <input required type="text" name="source" id="source" tips-id="source-tips" data-length="255"
                           maxlength="50" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入来源">
                </td>
                <td class="form-item-remark"><span id="source--tips"></span></td>

            </tr>
            <tr>
                <td class="form-item-title">
                    文章摘要
                </td>
                <td>
                    <input required type="text" name="summary" id="summary" tips-id="summary-tips" data-length="255"
                           maxlength="100" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入文章摘要">
                </td>
                <td class="form-item-remark"><span id="summary--tips"></span></td>

            </tr>
            <tr>
                <td class="form-item-title">
                    发布时间
                </td>
                <td>
                    <input required type="text" name="releaseTime" id="releaseTimeStr" tips-id="releaseTime-tips"
                           data-type="datetime" maxlength="20" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入发布时间">
                </td>
                <td class="form-item-remark"><span id="releaseTime--tips"></span></td>

            </tr>
            <tr>
                <td class="form-item-title">
                    新闻内容
                </td>
                <td>
                    <textarea required type="text" id="content" name="content" maxlength="20" class="form-control"
                              placeholder="请输入新闻内容"></textarea>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


<!--            <tr>-->
<!--                <td class="form-item-title">-->
<!--                    排序号-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input required type="text" name="sortNumber" id="sortNumber" data-type="intcode"-->
<!--                           tips-id="sortNumber-tips" data-length="10" maxlength="10" onblur="checkRegular(this);"-->
<!--                           class="form-control"-->
<!--                           placeholder="请输入排序号">-->
<!--                </td>-->
<!--                <td class="form-item-remark"><span id="sortNumber&#45;&#45;tips"></span></td>-->


<!--            </tr>-->
        </table>
    </form>
</div>

<script>
    //日历控件的渲染
    laydate.render({
        elem: "#releaseTimeStr",
        type: "datetime"
    });
    //如果有多个日历控件则多复制几个，注意分号隔开，如：
    // laydate.render({
    //     elem:"#releaseTime2Str"
    // });


    //富文本控件的渲染
    $(function () {
        editor.render('#content');
        //如有多个富文本，直接在这个方法里加一行即可，如：
        //editor.render("#content2");
    })

</script>