<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">

            <tr>
                <td class="form-item-title">
                    主题
                </td>
                <td>
                    <input required type="text" name="theme" id="theme" maxlength="100" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    姓名
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    手机号
                </td>
                <td>
                    <input required type="text" name="phone" id="phone" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    类型
                </td>
                <td>
                    <p required type="text" name="type" id="type" maxlength="20" class="form-control"
                    ></p>
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    发送状态
                </td>
                <td>

                    <p required name="sendStatus" id="sendStatus" class="form-control" readonly="readonly">
                    </p>
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    发送时间
                </td>
                <td>
                    <input required type="text" name="sendTime" id="sendTime" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    内容
                </td>
                <td>
                    <pre required type="text" name="detail" id="detail"
                         readonly="readonly"></pre>
                </td>
                <td class="form-item-remark"></td>
            </tr>
        </table>
    </form>
</div>
<script>
    laydate.render({
        elem: "#sendTimeStr",
    });
</script>