<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    图片名称
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control"
                           placeholder="请输入图片名称">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    图片描述
                </td>
                <td>
                    <input type="text" name="describe" maxlength="20" class="form-control"
                           placeholder="请输入图片描述">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    缩略图路径
                </td>
                <td>
                    <input required type="text" name="thumbnailURL" maxlength="20" class="form-control"
                           placeholder="请输入缩略图路径">
                </td>
                <td class="form-item-remark">
                    <button class="btn btn-primary btn-sm" type="button" onclick="picture.random()">
                        <i class="fa fa-random"></i>&nbsp;随机生成
                    </button>
                </td>
            </tr>
            <tr>
                <td class="form-item-title">
                    原图路径
                </td>
                <td>
                    <img src="" id="faceImageShow" data-path="" src="" class="img-responsive"
                         width="140px" height="160px" style="display: block;float: left;">
                    &nbsp;&nbsp;
                    <button class="btn btn-success btn-upload" type="button" onClick="$('#faceImage').click();">
                        <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">上传</span>
                    </button>
                    <input type="file" id="faceImage" class="hide" onChange="javascript:opt.upload('faceImage');">
                    <input type="hidden" required type="text" name="artworkURL" id="artworkURL" maxlength="20"
                           class="form-control"
                           placeholder="请输入图片地址">
                </td>
                <td class="form-item-remark"></td>
            </tr>
        </table>
    </form>
</div>
