<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    姓名
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    手机号
                </td>
                <td>
                    <input required type="text" name="phone" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    性别
                </td>
                <td>
                    <select required name="sex" id="sex" class="form-control" readonly="readonly">
                        <option value="1">女</option>
                        <option value="2">男</option>
                    </select>
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    民族代码
                </td>
                <td>
                    <input required type="text" name="nationCode" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    出生日期
                </td>
                <td>
                    <input required type="text" name="birthday" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    身份证
                </td>
                <td>
                    <input required type="text" name="idCard" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    政治面貌
                </td>
                <td>
                    <select required name="politicalOutlook" id="politicalOutlook" readonly="readonly"
                            class="form-control">
                        <option value="1">群众</option>
                        <option value="2">共青团员</option>
                        <option value="3">共产党员</option>
                    </select>
                </td>
                <td class="form-item-remark"></td>
            </tr>


        </table>
    </form>
</div>
<script>
</script>