<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统快速开发平台</title>
    <meta name="keywords" content="desktop">
    <meta name="description" content="desktop">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="assets/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="assets/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!---- 2018-08-09----修改 ---->
    <link href="assets/css/add-style.css" rel='stylesheet' type='text/css'/>
    <link href="assets/css/custom.css" rel='stylesheet' type='text/css'/>
    <!---- 2018-08-09----结束 ---->
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<!-- html主体代码 start -->
<div id="wrapper">
    <!--20180809新增顶部-->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" onclick="welcome();" style="cursor: pointer;">
            <div style="margin: 10px;width: 250px;height: 44px;    text-align: center;font-size: 25px;">
            系统快速开发平台
            </div>
<!--            <img src="assets/images/gxun_logo.png" style="margin: 10px;width: 250px;height: 44px">-->
        </div>
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-info"
               onclick="document.getElementById('J_iframe').contentWindow.location.reload(true);">
                <i class="fa fa-refresh"></i>
            </a>
            <span id="page-title"
                  style="height: 55px; line-height: 64px; margin-left: 10px; font-size: 18px;">系统基本信息</span>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <img id="user-info-header" width="40" height="40" class="img-circle"
                         src="assets/images/header.gif"/>
                </a>
                <ul class="dropdown-menu dropdown-messages" style="width: 150px;">
                    <li>
                        <div class="text-center link-block">
                            <i class="fa fa-user"></i>
                            <strong id="user-info-name"></strong>
                            <span style="font-size: 6px;" id="user-info-role-name"></span>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block" style="text-align: right;">
                            <div onclick="lock();">
                                <i class="fa fa-lock fa-fw"></i> 锁屏
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-center link-block" style="text-align: right;">
                            <div onclick="cacheUpdate();">
                                <i class="fa fa-gg fa-fw"></i> 更新缓存
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text-center link-block" style="text-align: right;">
                            <div onclick="loginOut();">
                                <i class="fa fa-sign-out fa-fw"></i> 退出系统
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img width="32" height="32" class="img-circle" src="assets/images/message_02.png"/><span
                            class="badge" id="messageCount"></span></a>
                <ul class="dropdown-menu" id="message-list">

                </ul>

            </li>
        </ul>
        <!-- /.navbar-static-side -->
    </nav>
    <!--20180809顶部结束-->
    <!--左侧导航开始-->
    <!--20180809新增导航-->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <div id="sys-menu" style="overflow-y: auto;"></div>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!--20180809导航结束-->
    <!--左侧导航结束-->
    <!--右侧部分开始-->

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row J_mainContent" id="content-main">
            <iframe id="J_iframe" width="100%" height="100%" name="J_iframe"
                    src="" frameborder="0"
                    data-id="" seamless>

            </iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<div>
</div>

<div class="modal fade" tabindex="-1" data-dismiss="modal" role="dialog" id="opt-lock">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">操作界面锁定中</h4>
                </div>
                <div class="modal-body" style="max-height:500px;overflow-y: auto; ">
                    <input type="password" id="lock-password" class="form-control" placeholder="请输入解锁密码">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="opt-dialog-enter" onclick="unlock();">解 锁</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="assets/js/jquery.min.js?v=2.1.4"></script>
<script src="assets/js/bootstrap.min.js?v=3.3.6"></script>
<script src="assets/js/util/store.min.js"></script>
<script src="assets/js/util/doT.min.js"></script>
<script src="assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="assets/js/routes.js"></script>
<script src="assets/js/util/title.js"></script>
<script src="assets/js/util/tools.js"></script>
<!---- 2018-08-09----修改 ---->
<!-- Metis Menu Plugin JavaScript -->
<script src="assets/js/metisMenu.min.js"></script>
<!---- 2018-08-09----结束 ---->
<!-- 菜单模板 -->
<script id="menu-tmpl" type="text/x-dot-template">
    <ul class="nav" id="side-menu">
        {{ for(var i=0;i< it.length ;i++){ }}
        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span class="ng-scope">{{= it[i].name }}</span>
        </li>
        {{ for(var j=0;j< it[i].module.length;j++){ }}

        <li class="left_but">
            <a class="J_menuItem">
                <i class="fa {{= it[i].module[j].icon}}"></i>
                {{= it[i].module[j].name }}
                <span class="fa arrow"> </span>
            </a>
            <ul class="nav nav-second-level">
                {{ for(var k=0;k< it[i].module[j].sub.length;k++){ }}
                {{ if((it[i].module[j].sub[k].hide == 0)){ }}
                <li>
                    <a class="J_menuItem fa {{= it[i].module[j].sub[k].icon}}" id="J_menuItem_{{=i}}_{{=j}}"
                       href="{{=server_root.substr(0,server_root.length-1)}}{{= it[i].module[j].sub[k].url}}"
                       data-title="{{= it[i].module[j].name }} / {{= it[i].module[j].sub[k].name}}">
                        {{= it[i].module[j].sub[k].name}}
                    </a>
                </li>
                {{ } }}
                {{ } }}
            </ul>
        </li>
        {{ } }}
        {{ } }}

    </ul>
</script>


<script id="message-list-template" type="text/x-dot-template">
    {{ if(typeof it == "undefined" || it.length == 0) { }}
    <a style="color: black;">
        <li class="avatar" style="padding-top: 15px;min-height: 0;text-align: center;">
            <div> 暂无消息</div>

        </li>
    </a>
    {{ }else{ }}
    {{ for(var i = 0; i < it.length; i++ ) { }}

    {{ if(i==0) { }}
    <li class="avatar" style="padding-top: 15px;min-height: 0;text-align: center;">
        {{ }else{ }}
    <li class="avatar">
        {{ }}}

        <a href="#" data-id="{{=it[i].id}}" onclick="readMessage(this)">

            {{ if(it[i].readStatus==null||it[i].readStatus==""||it[i].readStatus!=1) { }}
            <div>{{=it[i].topic.length<=12?it[i].topic:it[i].topic.substr(0,12) }}</div>
            <small> {{=it[i].sendTimeStr }}</small>
            <span class="label label-info">NEW</span>
            {{ }else{ }}
            <div style="color:#a2a2a2;">{{=it[i].topic.length<=12?it[i].topic:it[i].topic.substr(0,12) }}</div>
            <small style="color:#a2a2a2;"> {{=it[i].sendTimeStr }}</small>

            {{ } }}
        </a>
    </li>
    {{ } }}
    {{ } }}
</script>

<!-- 自定义js -->
<script src="assets/js/core.js?v=4.1.0"></script>

<script>
    var store_user_info = store.get('wechat-admin-user');
    var indexTitle = '系统快速开发平台';

    function setTitle(_title) {
        title.set(indexTitle + _title);
    }

    function configAuth() {
        var store_user_info = store.get('wechat-admin-user');
        var auth = store_user_info.auth;
        var btns = [];
        var funs = [];
        var urls = [];
        for (var i = 0; i < auth.length; i++) {
            var modules = auth[i].module;
            for (var j = 0; j < modules.length; j++) {
                var subs = modules[j].sub;
                for (var k = 0; k < subs.length; k++) {
                    if (subs[k].url != "" && subs[k].url != "" && subs[k].url != null) {
                        urls.push(subs[k].url);
                    }

                    var btn = subs[k].btns;
                    for (var l = 0; l < btn.length; l++) {
                        funs.push(btn[l]['fun']);
                        btns.push(btn[l]);
                    }
                }
            }
        }
        store.set('wechat-admin-user-url-auth', urls);
        store.set('wechat-admin-user-btn-auth', btns);
        store.set('wechat-admin-user-fun-auth', funs);


        var evalText = doT.template($("#menu-tmpl").text());
        $("#sys-menu").html(evalText(auth));
        initMenuStyle();
        $(".J_menuItem").on('click', function () {
            var url = $(this).attr('href');
            var title = $(this).attr('data-title');
            $("#J_iframe").attr('src', url);
            (typeof title) != 'undefined' ?
                $('#page-title').html(title) : '';
            return false;
        });
    }


    //更新缓存
    function cacheUpdate() {
        var request = $.ajax({
            type: 'PUT',
            url: userModule.cacheUpdateApi,
            headers: {token: store_user_info.token},
            error: function (e) {
                var obj = e.responseJSON;
                if (e.status == 403) {
                    swal({
                            title: obj.message,
                            type: "error",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "确定",
                            closeOnConfirm: false
                        },
                        function () {
                            store.clear();
                            window.location.href = server_root;
                        }
                    );
                } else {
                    swal('', obj.message, "warning");
                }
            }
        });
        request.done(function (res) {
            store.set('wechat-admin-user', res.result);
            configAuth();
            window.location.href = server_root;
        })
    }

    $(function () {
        setTitle('');
        //权限
        if ((typeof store_user_info) == 'undefined') {
            swal({
                    title: '缓存数据异常请重新登录',
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                },
                function () {
                    store.clear();
                    window.location.href = server_root;
                }
            );
            return false;
        } else {
            configAuth();
        }
        //欢迎页
        welcome();
        //自适应页面
        autoMenu();
        $(window).resize(function () {
            var  iframe=window.frames['J_iframe'];
            if(iframe!=null){
                if(iframe.autoWin) {
                    iframe.autoWin();
                }
            }
            autoMenu();
        });
        initUserInfo();
        //60秒钟刷新一次数据
        getMessage();
        setInterval(getMessage, 60000);

    })

    var helper = {
        sendStatus: function (_sendStatus) {
            switch (parseInt(_sendStatus)) {
                case 1:
                    return "未发送";
                case 2:
                    return "已发送";
                default:
                    return "已发送";

            }
        },
        type: function (_type) {
            switch (parseInt(_type)) {
                case 0 :
                    return "系统通知";
                case 1 :
                    return "课程安排";
                case 2 :
                    return "会议安排";
                case 3 :
                    return "每月一测";
                case 4 :
                    return "入党申请书";
                case 5 :
                    return "思想汇报";
                default:
                    return "系统通知";

            }
        }
    };

    function getMessage() {
        var request = $.ajax({
            type: 'get',
            url: baseModule.indexMessageListApi,
            headers: {token: store_user_info.token},

        });
        request.done(function (d) {
            var messageData = d.result;
            var count = parseInt(messageData.count);
            var messageListData = messageData.messages;
            if (count > 0) {
                $('#messageCount').html(count);
            }
            var template = doT.template($("#message-list-template").text());//获取的模板
            $('#message-list').html(template(messageListData));//模板装入数据

            if (messageListData.length >= 3) {
                $('#message-list').append(' <li class="dropdown-menu-footer text-center">' +
                    '<a href="#" onclick="readMore()">查看全部消息</a>' +
                    ' </li>');
            }

        })
    }

    function readMessage(event) {
        var optId = $(event).attr('data-id');
        $('.collapse').removeClass('in');
        $('.left_but').removeClass('active');
        $('#J_menuItem_0_5').click().parents('.collapse').addClass('in').parents('.left_but').addClass('active');
        $('#J_iframe').attr('src', server_root + 'user/message?id=' + optId);
        getMessage();
    }

    function readMore() {
        $('.collapse').removeClass('in');
        $('.left_but').removeClass('active');
        $('#J_menuItem_0_5').click().parents('.collapse').addClass('in').parents('.left_but').addClass('active');
        $('#J_iframe').attr('src', server_root + 'user/message');//临时路径
    }

    //自适应
    function adaptable() {
        var w = $('#J_iframe').width();
        var h = $('#J_iframe').height();
        return {w: w, h: h};
    }

    function autoMenu() {
        var h = $('#J_iframe').height();
        $('#sys-menu').css('height', h + 2);
    }

    function initUserInfo() {
        var user = store.get('wechat-admin-user');
        var info = user.info;
        var role = user.role;

        $('#user-info-header').attr('src', info.header == '' ? server_root + 'assets/images/header.gif' : info.header);
        $('#user-info-name').html(user.loginName);
        $('#user-info-role-name').html(info.roleName);
    }

    //欢迎页
    function welcome() {
        $('#J_iframe').attr('src', server_root + 'sys/welcome');
        $('#page-title').html('系统基本信息')
    }

    function loginOut() {
        if ((typeof store_user_info) == 'undefined') {
            swal({
                    title: '缓存数据异常请重新登录',
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                },
                function () {
                    store.clear();
                    window.location.href = server_root;
                }
            );
            return false;
        }

        swal({
                title: '是否要退出系统？',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "退出",
                cancelButtonText: "再等等",
                closeOnConfirm: true
            },
            function () {

                var request = $.ajax({
                    type: 'POST',
                    url: userModule.loginOutApi,
                    headers: {token: store_user_info.token},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (e) {
                        var obj = e.responseJSON;
                        swal('', obj.message, "warning");
                    }
                });
                request.done(function (res) {
                    store.clear();
                    window.location.href = server_root;
                })
            }
        );

    }

    function lock() {
        swal({
                title: '是否要立刻锁定界面',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "马上锁定",
                cancelButtonText: "再等等",
                closeOnConfirm: true
            },
            function () {
                if ((typeof store_user_info) == 'undefined') {
                    swal({
                            title: '缓存数据异常请重新登录',
                            type: "error",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "确定",
                            closeOnConfirm: false
                        },
                        function () {
                            store.clear();
                            window.location.href = server_root;
                        }
                    );
                    return false;
                }
                var request = $.ajax({
                    type: 'POST',
                    url: userModule.lock,
                    headers: {token: store_user_info.token},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (e) {
                        var obj = e.responseJSON;
                        if (e.status == 403) {
                            swal({
                                    title: obj.message,
                                    type: "error",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "确定",
                                    closeOnConfirm: false
                                },
                                function () {
                                    store.clear();
                                    window.location.href = server_root;
                                }
                            );
                        }

                    }
                });
                request.done(function (res) {
                    //  console.log(res)
                    lockDialog();
                })
            }
        );
    }

    function unlock() {
        if ((typeof store_user_info) == 'undefined') {
            swal({
                    title: '缓存数据异常请重新登录',
                    type: "error",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                },
                function () {
                    store.clear();
                    window.location.href = server_root;
                }
            );
            return false;
        }
        var pwd = $.trim($('#lock-password').val());
        if (pwd.length == 0) {
            swal('', '请输入解锁密码', 'warning');
            return false;
        }
        var data = {password: pwd};

        var request = $.ajax({
            type: 'PUT',
            url: userModule.lock,
            headers: {token: store_user_info.token},
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (e) {
                var obj = e.responseJSON;
                swal('', obj.message, "warning");
            }
        });
        request.done(function (res) {
            store.set('wechat-admin-user', res.result);
            $('#opt-lock').modal('hide');
            window.location.reload();
        })
    }

    function lockDialog() {
        $('#opt-lock').modal({
            keyboard: false,
            backdrop: 'static'
        });
    }

    function closeNav() {
        $('.navbar-right li').removeClass('open');
    }

    function exitSys() {
        store.clear();
        window.location.href = server_root;
    }

</script>

<!-- 第三方插件 -->
<script src="assets/js/plugins/pace/pace.min.js"></script>

</body>
</html>