<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>
<link href="../../assets/js/summernote/summernote.css" rel="stylesheet">
<link href="../../assets/js/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
<% include ../inc/body.ejs %>
<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 100px; display: block;float: left;padding-top: 10px;">
                    入党申请书管理
                </div>

                <!--<div class="ibox-tools">-->
                <!--<button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button" onclick="application.create(this);">-->
                <!--<i class="fa fa-plus"></i>&nbsp;新增-->
                <!--</button>-->
                <!--</div>-->

            </div>
            <div class="ibox-content data-view" style="overflow-y: auto;" id="search-key">
                <div class="input-group" style="width: 200px;display: flex">
                    <input style="min-width: 200px;width: 200px;" type="text" id="select-number"
                           placeholder="请输入用户学号/工号" class="input-sm form-control"/>
                    <select style="min-width: 200px;width: 200px;height: 34px" type="text" id="select-stage"
                            class="input-sm form-control">
                        <option value=" ">全部</option>
                        <option value="1">初审</option>
                        <option value="2">复审</option>
                    </select>
                    <span class="input-group-btn">
                            <button onclick="application.select(this);" id="search_button"
                                    style="width: 50px;height: 34px" type="button"
                                    class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                </div>
                <div class="col-sm-12">
                    <div class=" col-sm-12 date-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>类型</th>
                                <th>用户学号/工号</th>
                                <th>用户姓名</th>
                                <th>提交时间</th>
                                <th>审核人学号/工号</th>
                                <th>审核状态</th>
                                <th>审核结果</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="item-list">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pages M-box3 list-page">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- html主体代码 end -->
<!-- 管理的课程模板 -->
<script id="application-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i
    <it.length;i++){ }}
    <tr>
        <td>
            {{= ((index-1) * size +i+1)}}
        </td>
        <td>{{= helper.stage(it[i].stage) }}</td>
        <td>{{= it[i].proposerNumber}}</td>
        <td>{{= it[i].userName}}</td>
        <td>{{= it[i].referTimeStr}}</td>
        <td>{{= it[i].approverNumber || "无"}}</td>
        <td>{{= helper.status(it[i].status) }}</td>
        <td>{{= helper.result(it[i].result) }}</td>
        <td></td>
        <td>
            {{ if(it[i].status == 2) { }}
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!--<li>-->
                    <!--<a href="#" data-id="{{= it[i].approvalTableId}}" data-stage="{{= it[i].stage }}" onclick="application.approval(this);">审核</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#" data-id="{{= it[i].approvalTableId}}" data-stage="{{= it[i].stage }}"
                           onclick="application.read(this);">查看详情</a>
                    </li>
                </ul>
            </div>


            {{ } else { }}

            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!--<li>-->
                    <!--<a href="#" data-id="{{= it[i].approvalTableId}}" onclick="application.update(this);">修改</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#" data-id="{{= it[i].approvalTableId}}" data-stage="{{= it[i].stage }}"
                           onclick="application.approval(this);">审核</a>
                    </li>
                    {{ } }}
        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>


<!-- 管理的审核图片模板 -->
<script id="pic-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无图片
    {{ }else{ }}
    {{ for(var i=0;i
    <it.length;i++){ }}

    <a class="fancybox" href="{{=it[i].artworkURL}}" onclick="render.alwaysShowImg()">

        <div style="width: 100px;height: 100px;overflow: hidden;float: left;margin: 3px 3px;">
            <img id="applicationImg{{=i}}" data-path="{{=it[i].artworkURL}}" src="{{=it[i].artworkURL}}"
                 style="width: 100px;height: 100px;overflow: hidden;float: left;margin: 3px 3px;"/>
        </div>
    </a>
    {{ } }}
    {{ } }}
</script>

<% include ../inc/js.ejs %>

<!-- 私有脚本 start -->
<script src="../../js/baseModule/_application.js"></script>
<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>