<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>
<% include ../inc/body.ejs %>

<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 80px; display: block;float: left;padding-top: 10px;">
                    会议安排
                </div>

                <div class="ibox-tools">
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="schedule.create(this);">
                        <i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                </div>

            </div>
            <div class="ibox-content">
                <div class="input-group" style="width: 200px; display: flex" id="search-key">
                    <input style="min-width: 200px;width: 200px;height:30px;" type="text" id="topic" placeholder="请输入主题"
                           class="input-sm form-control">
                    <span class="input-group-btn" style="float:left;flex: 4">
                            <button onclick="schedule.select(this);" id="search_button" style="width: 50px;"
                                    type="button" class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                </div>
            </div>

            <div class="ibox-content data-view" style="overflow-y: auto;">
                <div class="col-sm-12">
                    <div class=" col-sm-12 date-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>主题</th>
                                <th>地点</th>
                                <th>会议状态</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="item-list">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pages M-box3 list-page">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- html主体代码 end -->
<script id="schedule-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i < it.length;i++){ }}
    <tr>
        <td>{{=(i+1)}}</td>
        <td>{{= it[i].topic}}</td>
        <td>{{= it[i].place}}</td>
        <!--<td>{{= helper.checkType(it[i].checkType) }}</td>-->
        <!--<td>{{= it[i].linkmanNumber}}</td>-->
        <!--<td>{{= it[i].linkmanPhone}}</td>-->
        <td>{{= helper.status(it[i].status) }}</td>
        <td>{{= it[i].startTimeStr}}</td>
        <td>{{= it[i].endTimeStr}}</td>
        <td>

            {{ if(it[i].status == 1) { }}

            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.update(this);">修改</a>
                    </li>
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.delete(this);">删除</a>
                    </li>
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.release(this);">发布</a>
                    </li>
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.read(this);">查看详情</a>
                    </li>

                </ul>
            </div>
            {{ }else if(it[i].status == 2){ }}

            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.modify(this);">发布后修改</a>
                    </li>
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.cancel(this);">取消安排</a>
                    </li>
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.read(this);">查看详情</a>
                    </li>

                </ul>
            </div>
            {{ }else if(it[i].status == 3) { }}
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.read(this);">查看详情</a>
                    </li>
                </ul>
            </div>
            {{ }else if(it[i].status == 4) { }}

            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.read(this);">查看详情</a>
                    </li>
                </ul>
            </div>
            {{ }else if(it[i].status == 5) { }}

            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="schedule.read(this);">查看详情</a>
                    </li>
                </ul>
            </div>
            {{ } }}

        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>

<!--渲染短信下拉框-->
<script id="note-select-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否短信通知
    </td>
    <td>
        <select required type="text" name="isNote" maxlength="20" class="form-control">
            <option value="1">否</option>
            <option value="2">是</option>
        </select>
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>

<!--渲染短信详情值-->
<script id="note-info-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否短信通知
    </td>
    <td>
        <input required type="text" id="isNote" maxlength="20" class="form-control"
               readonly="readonly">
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>

<!--渲染微信推送下拉框-->
<script id="push-select-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否微信推送
    </td>
    <td>
        <select required type="text" name="isPush" maxlength="20" class="form-control">
            <option value="1">否</option>
            <option value="2">是</option>
        </select>
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>

<!--渲染微信推送详情值-->
<script id="push-info-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否微信推送
    </td>
    <td>
        <input required type="text" id="isPush" maxlength="20" class="form-control"
               readonly="readonly">
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>


<% include ../inc/js.ejs %>
<script type="text/javascript"
        src='//webapi.amap.com/maps?v=1.4.13&key=733bb8897d9ab2402c31f08e9e33bacc&plugin=AMap.ToolBar'></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11" type="text/javascript"></script>

<!-- 私有脚本 start -->
<script src="../../js/baseModule/_meetingSchedule.js"></script>
<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>