<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>

<% include ../inc/body.ejs %>
<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 140px; display: block;float: left;padding-top: 10px;">
                    民族信息列表
                </div>

                <div class="ibox-tools">
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="nationInfo.create(this);">
                        <i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="nationInfo.importModel(this);">
                        <i class="fa fa-download"></i>&nbsp;下载民族信息模板
                    </button>

                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="nationInfo.import(this);">
                        <i class="fa fa-plus"></i>&nbsp;导入民族信息
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="input-group" style="width: 200px; display: flex" id="search-key">
                    <input style="min-width: 200px;width: 200px;height:30px;" type="text" id="select-key"
                           placeholder="请输入民族名称" class="input-sm form-control">
                    <span class="input-group-btn" style="float:left;flex: 4">
                            <button onclick="nationInfo.select(this);" id="search_button" style="width: 50px;"
                                    type="button" class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                </div>
            </div>

            <div class="ibox-content data-view" style="overflow-y: auto;">
                <div class="col-sm-12">
                    <div class=" col-sm-12 date-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>代码</th>
                                <th>民族名称</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="item-list">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pages M-box3 list-page">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- html主体代码 end -->
<!-- 管理的民族信息模板 -->
<script id="nationInfo-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i < it.length;i++){ }}
    <tr>
        <td>
            {{= ((index-1) * size +i+1)}}
        </td>
        <td>
            {{= it[i].code}}
        </td>
        <td>
            {{= it[i].name}}
        </td>
        <td>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="nationInfo.update(this);">修改</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#" data-id="{{= it[i].id}}" onclick="nationInfo.read(this);">查看</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="nationInfo.delete(this);">删除</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<% include ../inc/js.ejs %>
<script id="error-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i < it.length;i++){ }}
    <tr>
        <td>
            {{=(i+1)}}
        </td>
        <td>
            {{= it[i].code|| ""}}
        </td>
        <td>
            {{= it[i].name || ""}}
        </td>
        <td>
            {{= it[i].info || ""}}
        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<!-- 私有脚本 start -->
<script src="../../js/baseModule/_nationInfo.js"></script>
<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>