<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>

<% include ../inc/body.ejs %>

<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 140px; display: block;float: left;padding-top: 10px;">
                    网络课程管理
                </div>

                <div class="ibox-tools">
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="onlineCourse.create(this);">
                        <i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                </div>

            </div>
            <div class="ibox-content">
                <div class="input-group" style="width: 200px; display: flex" id="search-key">
                    <input style="min-width: 200px;width: 200px;height:30px;" type="text" id="select-key"
                           placeholder="请输入标题" class="input-sm form-control">
                    <span class="input-group-btn" style="float:left;flex: 4">
                            <button onclick="onlineCourse.select(this);" id="search_button" style="width: 50px;"
                                    type="button" class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                </div>
            </div>
            <div class="ibox-content data-view" style="overflow-y: auto;">
                <div class="col-sm-12">
                    <div class=" col-sm-12 date-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>标题</th>
                                <th>主题</th>
                                <th>封面图片</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>性质</th>
                                <!--<th>审核状态</th>-->
                                <!--<th>审核结果</th>-->
                                <th>发布状态</th>
                                <!--<th>是否允许评论</th>-->
                                <th>是否精华</th>
                            </tr>
                            </thead>
                            <tbody id="item-list">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pages M-box3 list-page">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- html主体代码 end -->
<!-- 管理的网络课程模板 -->
<script id="onlineCourse-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i < it.length;i++){ }}
    <tr>
        <td>
            {{= ((index-1) * size +i+1)}}
        </td>
        <td>
            {{= it[i].title}}
        </td>
        <td>
            {{= it[i].topic}}
        </td>
        <td>
            <img src="{{= it[i].artworkURL}}" class="img-responsive" width="140px" height="160px">
        </td>
        <td>
            {{= it[i].startTimeStr}}
        </td>
        <td>
            {{= it[i].endTimeStr}}
        </td>
        <td>
            {{= helper.property(it[i].property) }}
        </td>
        <!--<td>-->
        <!--{{= helper.status(it[i].status) }}-->
        <!--</td>-->
        <!--<td>-->
        <!--{{= helper.result(it[i].result) }}-->
        <!--</td>-->
        <td>
            {{= helper.isRelease(it[i].isRelease) }}
        </td>
        <!--<td>-->
        <!--{{= helper.isReview(it[i].isReview) }}-->
        <!--</td>-->

        <td>
            {{= helper.isEssence(it[i].isEssence) }}
        </td>

        <td>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">


                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="onlineCourse.read(this);">查看</a>
                    </li>

                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="onlineCourse.update(this);">修改</a>
                    </li>
                    {{ if(it[i].isRelease == 2) { }}
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="onlineCourse.release(this);">发布</a>
                    </li>
                    {{ }}}

                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="onlineCourse.delete(this);">删除</a>
                    </li>

                    <li>
                        <a href="#" data-id="{{= it[i].id}}"
                           onclick="onlineCourse.redirectChapterSection(this);">章节管理</a>
                    </li>

                </ul>
            </div>

        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<% include ../inc/js.ejs %>

<!--渲染短信下拉框-->
<script id="note-select-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否短信通知
    </td>
    <td>
        <select required type="text" name="isNote" maxlength="20" class="form-control">
            <option value="1">否</option>
            <option value="2">是</option>
        </select>
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>

<!--渲染短信详情值-->
<script id="note-info-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否短信通知
    </td>
    <td>
        <input required type="text" id="isNote" maxlength="20" class="form-control"
               readonly="readonly">
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>

<!--渲染微信推送下拉框-->
<script id="push-select-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否微信推送
    </td>
    <td>
        <select required type="text" name="isPush" maxlength="20" class="form-control">
            <option value="1">否</option>
            <option value="2">是</option>
        </select>
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>

<!--渲染微信推送详情值-->
<script id="push-info-template" type="text/x-dot-template">
    <td class="form-item-title">
        是否微信推送
    </td>
    <td>
        <input required type="text" id="isPush" maxlength="20" class="form-control"
               readonly="readonly">
    </td>
    <td class="form-item-remark"><span></span></td>
    </tr>
</script>


<!-- 私有脚本 start -->
<script src="../../js/baseModule/_md5File.js"></script>
<script src="../../js/baseModule/_onlineCourse.js"></script>

<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>