<% include ../inc/header.ejs %>
<style>
    .date-table {
        overflow-y: auto;
    }
</style>

<% include ../inc/body.ejs %>
<link href="../../assets/js/summernote/summernote.css" rel="stylesheet">
<!-- html主体代码 start -->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="padding-top: 3px !important;">
                <div style="width: 140px; display: block;float: left;padding-top: 10px;">
                    考察记录列表
                </div>

                <div class="ibox-tools">
                    <button style="margin-top: 8px;" class="btn btn-primary btn-xs" type="button"
                            onclick="surveyRecordChat.create(this);">
                        <i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                </div>

            </div>
            <div class="ibox-content">
                <div class="input-group" style="width: 200px; display: flex" id="search-key">
                    <input style="min-width: 200px;width: 200px;height:30px;" type="text" id="number"
                           placeholder="请输入工号/学号"
                           class="input-sm form-control">
                    <span class="input-group-btn" style="float:left;flex: 4">
                            <button onclick="surveyRecordChat.select(this);" id="search_button" style="width: 50px;"
                                    type="button"
                                    class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                </div>
            </div>
            <div class="ibox-content data-view" style="overflow-y: auto;">
                <div class="col-sm-12">
                    <div class=" col-sm-12 date-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户学号/工号</th>
                                <th>姓名</th>
                                <th>阶段</th>
                                <!--<th>类型</th>-->
                                <th>次数</th>
                                <!--<th>审核状态</th>-->
                                <!--<th>审核结果</th>-->
                                <th>考察时间</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="item-list">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pages M-box3 list-page">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- html主体代码 end -->
<!-- 管理的考察与谈话记录模板 -->
<script id="surveyRecordChat-template" type="text/x-dot-template">
    {{ if(it.length == 0) { }}
    暂无数据
    {{ }else{ }}
    {{ for(var i=0;i < it.length;i++){ }}
    <tr>
        <td>
            {{= ((index-1) * size +i+1)}}
        </td>
        <td>
            {{= it[i].number}}
        </td>
        <td>
            {{= it[i].name}}
        </td>
        <td>
            {{= helper.stage(it[i].stage) }}
        </td>
        <!--<td>-->
        <!--{{= helper.type(it[i].type) }}-->
        <!--</td>-->
        <td>
            {{= it[i].count}}
        </td>

        <!--<td>-->
        <!--{{= helper.approvalStatus(it[i].approvalStatus) }}-->
        <!--</td>-->
        <!--<td>-->
        <!--{{= helper.approvalResult(it[i].approvalResult) }}-->
        <!--</td>-->
        <td>
            {{= it[i].surveyTimeStr ||"无"}}
        </td>
        <td>
            {{ if(it[i].approvalStatus == 3) { }}

            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="surveyRecordChat.read(this);">查看详情</a>
                    </li>
                </ul>
            </div>
            {{ } else { }}

            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="surveyRecordChat.update(this);">修改</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#" data-id="{{= it[i].id}}" onclick="surveyRecordChat.approval(this);">审核</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#" data-id="{{= it[i].id}}" onclick="surveyRecordChat.read(this);">查看详情</a>
                    </li>
                </ul>
            </div>
            {{ } }}

        </td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<% include ../inc/js.ejs %>

<!-- 私有脚本 start -->
<script src="../../js/baseModule/_surveyRecordChat.js"></script>
<!-- 私有脚本 end -->
<% include ../inc/footer.ejs %>