<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="proposerNumber" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    提交时间
                </td>
                <td>
                    <input required type="text" name="referTime" id="referTimeStr" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--上版本内容-->
            <!--</td>-->
            <!--<td>-->
            <!--<input required type="text" name="lastContent" id="lastContent" maxlength="20" class="form-control"-->
            <!--readonly="readonly">-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->
            <tr>
                <td class="form-item-title">
                    内容
                </td>
                <td id="info">

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    审核人工号
                </td>
                <td>
                    <input required type="text" name="approverNumber" maxlength="20" class="form-control"
                           placeholder="请输入审核人学号/工号" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    审核状态
                </td>
                <td>
                    <input required type="text" name="status" id="status" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    审核结果
                </td>
                <td>
                    <input required type="text" name="result" maxlength="20" class="form-control"
                           placeholder="请输入审核结果" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    审核意见
                </td>
                <td>
                    <p required type="text" name="opinion" id="opinion" class="form-control" readonly="readonly"></p>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

        </table>
    </form>
</div>
<!--<script>-->
<!--$(function () {-->
<!--editor.render('#lastContent');-->
<!--})-->
<!--$(function () {-->
<!--editor.render('#content');-->
<!--})-->
<!--$(function () {-->
<!--editor.render('#opinion');-->
<!--})-->
<!--</script>-->


