<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="proposerNumber" maxlength="20" class="form-control"
                           placeholder="请输入用户学号/工号" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    提交时间
                </td>
                <td>
                    <input required type="text" name="referTime" id="referTimeStr" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    审核内容
                </td>
                <td id="info">


                </td>
                <td class="form-item-remark"></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    审核结果
                </td>
                <td>
                    <select required type="text" name="result" maxlength="20" class="form-control"
                            placeholder="请输入审核结果">
                        <option value="1">通过</option>
                        <option value="2">不通过</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    审核意见
                </td>
                <td>
                    <textarea required type="text" name="opinion" id="opinion" maxlength="20" class="form-control"
                              placeholder="请输入审核意见">
                    </textarea>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

        </table>
    </form>
</div>
<!--<script>-->
<!--laydate.render({-->
<!--elem:"#referTimeStr"-->
<!--});-->
<!--</script>-->
<script>
    $(function () {
        editor.render('#opinion');
    })
</script>
