<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    学生学号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           placeholder="请输入学生学号">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    章目录代码
                </td>
                <td>
                    <input required type="text" name="chapterCode" maxlength="20" class="form-control"
                           placeholder="请输入章目录代码">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    测试分值
                </td>
                <td>
                    <input required type="text" name="testScore" maxlength="20" class="form-control"
                           placeholder="请输入测试分值">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    是否完成
                </td>
                <td>
                    <select required name="isFinish" id="isFinish" class="form-control">
                        <option value="1">未完成</option>
                        <option value="2">已完成</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    完成百分比
                </td>
                <td>
                    <input required type="text" name="learnPercent" maxlength="20" class="form-control"
                           placeholder="请输入完成百分比">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>