<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           placeholder="请输入用户学号/工号" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    谈话时间
                </td>
                <td>
                    <input required type="text" name="surveyTime" id="surveyTimeStr" maxlength="20" class="form-control"
                           placeholder="请选择谈话时间" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    次数
                </td>
                <td>
                    <input required type="number" min="1" name="count" maxlength="20" class="form-control"
                           readonly="readonly"
                           placeholder="请输入次数">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    谈话情况
                </td>
                <td>
                    <pre name="surveyCondition" id="surveyCondition" readonly="readonly"></pre>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--审核状态-->
            <!--</td>-->
            <!--<td>-->
            <!--<input   required type="text" name="approvalStatus"   class="form-control" readonly="readonly">-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--审核结果-->
            <!--</td>-->
            <!--<td>-->
            <!--<input  required type="text" name="approvalResult" class="form-control" readonly="readonly">-->
            <!--</input>-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--审核意见-->
            <!--</td>-->
            <!--<td>-->
            <!--<textarea required type="text" name="approvalOpinion"  id="approvalOpinion"  class="form-control" readonly="readonly"></textarea>-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->

        </table>
    </form>
</div>
