<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">

            <tr>
                <td class="form-item-title">
                    考试试卷
                </td>
                <td>
                    <input  type="text" name="examName" id="examName" class="form-control" disabled="disabled">  </input>

                </td>
                <td class="form-item-remark" style="width: 30%">*<span style="color:black">必填</span> <span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    名称
                </td>
                <td>
                    <input required type="text" name="name" id="name"  tips-id = "name-tips"  data-length="255" maxlength="20"  onblur="checkRegular(this);"  class="form-control"
                           placeholder="请输入名称">
                </td>
                <td class="form-item-remark" > *<span style="color:black">必填</span><span id = "name-tips"></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    监考员
                </td>
                <td>
                    <input type="text" name="monitor" id="monitor"  tips-id = "monitor-tips"  data-length="255" maxlength="20"  onblur="checkRegular(this);"  class="form-control"
                           placeholder="请输入监考员">
                </td>
                <td class="form-item-remark" > <span id = "monitor-tips"></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    是否设定启封码
                </td>
                <td>
                    <select required name="isUnseal" id="isUnseal" tips-id = "isUnseal-tips" data-length="3"  onblur="checkRegular(this);"  onchange="examRoom.sync(this)" placeholder="请输入是否设定启封码" class="form-control">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
                <td class="form-item-remark" >
                    *<span style="color:black">必填</span>
                    <span id = "isUnseal-tips"></span>
                </td>
            </tr>
            <tr id="unsealCode-body" style="display: none">
                <td class="form-item-title">
                    启封码
                </td>
                <td>
                    <input type="text" name="unsealCode" id="unsealCode"  tips-id = "unsealCode-tips"  data-length="255" maxlength="20"  onblur="checkRegular(this);"  class="form-control"
                           placeholder="请输入启封码">
                </td>
                <td class="form-item-remark" >
                    <button class="btn btn-primary btn-sm" type="button" onclick="examRoom.random()">
                        <i class="fa fa-random"></i>&nbsp;随机生成
                    </button>
                    <span id = "unsealCode-tips"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>