<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           tips-id="user-tips" data-type="number" id="number"
                           placeholder="请输入用户学号/工号" onblur="checkRegular(this)">
                </td>
                <td class="form-item-remark"><span id="user-tips"></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    记录时间
                </td>
                <td>
                    <input required type="text" name="recordTime" id="recordTimeStr" class="form-control"
                           placeholder="请输入记录时间">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    记录内容
                </td>
                <td>
                    <textarea required type="text" name="record" id="record" tips-id="record-tips" data-type="date"
                              onblur="checkRegular(this);" class="form-control"
                              placeholder="请输入记录内容"></textarea>
                </td>
                <td class="form-item-remark"><span id="record--tips"></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    类型
                </td>
                <td>
                    <select required type="text" name="type" maxlength="20" class="form-control">

                        <option value=1>入党申请书</option>
                        <option value=2>思想汇报</option>
                        <option value=3>学习记录</option>
                        <option value=4>在线学习</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    阶段
                </td>
                <td>
                    <select required type="text" name="stage" id="stage" maxlength="20" class="form-control">
                        <option value=1>积极分子</option>
                        <option value=2>发展对象</option>
                        <option value=3>预备党员</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
    laydate.render({
        elem: "#recordTimeStr"
    });

    //富文本控件的渲染
    $(function () {
        editor.render('#record');
    })
</script>