<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           placeholder="请输入用户学号/工号" readonly="readonly">
                </td>
                <td class="form-item-remark"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    记录时间
                </td>
                <td>
                    <input required type="text" name="recordTime" id="recordTime" maxlength="20" class="form-control"
                           placeholder="请输入记录时间" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    记录内容
                </td>
                <td>
                    <pre required type="text" name="record" id="record" readonly="readonly"></pre>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    类型
                </td>
                <td>
                    <input required type="text" name="type" maxlength="20" class="form-control"
                           placeholder="请输入类型" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    阶段
                </td>
                <td>
                    <p required type="text" name="stage" id="stage" maxlength="20" class="form-control"
                       readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
    laydate.render({
        elem: "#recordTimeStr"
    });

    // //富文本控件的渲染
    // $(function () {
    //     editor.render('#record');
    // })
</script>