<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="number" id="number" tips-id="number-tips" data-type="number"
                           data-length="20" maxlength="20" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入用户学号/工号">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="number-tips"></span></td>


            </tr>
            <tr>
                <td class="form-item-title">
                    联系人学号/工号
                </td>
                <td>
                    <input required type="text" name="linkNumber" id="linkNumber" data-type="number"
                           tips-id="linkNumber-tips" data-length="20" maxlength="20" onblur="checkRegular(this);"
                           class="form-control"
                           placeholder="请输入联系人学号/工号">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="linkNumber-tips"></span>
                </td>

            </tr>
            <tr>
                <td class="form-item-title">
                    联系人党内单位及职务
                </td>
                <td>
                    <input required type="text" name="inDuty" id="inDuty" tips-id="inDuty-tips" data-type="chinese"
                           data-length="50" maxlength="20" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入联系人党内单位及职务">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="inDuty-tips"></span></td>

            </tr>
            <tr>
                <td class="form-item-title">
                    联系人党外单位及职务
                </td>
                <td>
                    <input required type="text" name="outDuty" id="outDuty" tips-id="outDuty-tips" data-type="chinese"
                           data-length="50" maxlength="20" onblur="checkRegular(this);" class="form-control"
                           placeholder="请输入联系人党外单位及职务">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="outDuty-tips"></span></td>


            </tr>
            <tr>
                <td class="form-item-title">
                    联系人入党时间
                </td>
                <td>
                    <input required type="text" name="linkJoinTime" id="linkJoinTimeStr" maxlength="20"
                           class="form-control"
                           placeholder="请输入联系人入党时间" tips-id="linkJoinTime-tips" date-type="date"
                           onblur="checkRegular(this);">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="linkJoinTime-tips"></span>
                </td>


            </tr>
        </table>
    </form>
</div>
<script>
    laydate.render({
        elem: "#linkJoinTimeStr",
    });
</script>