<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    代码
                </td>
                <td>
                    <input required type="text" name="code" id="code" maxlength="3" class="form-control"
                           tips-id="code-tips" data-type="stringcode" onblur="checkRegular(this)"
                           placeholder="请输入代码">
                </td>
                <td class="form-item-remark"><span id="code-tips"></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    民族名称
                </td>
                <td>
                    <input required type="text" name="name" id="name" maxlength="20" class="form-control"
                           tips-id="name-tips" data-type="chinese" onblur="checkRegular(this)"
                           placeholder="请输入民族名称">
                </td>
                <td class="form-item-remark"><span id="name-tips"></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>