<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    标题
                </td>
                <td>
                    <input required type="text" name="title" id="title" maxlength="255" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    作者
                </td>
                <td>
                    <input required type="text" name="author" id="author" maxlength="50" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    来源
                </td>
                <td>
                    <input required type="text" name="source" id="source" maxlength="50" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    阅读次数
                </td>
                <td>
                    <input required type="text" name="hits" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    图片
                </td>
                <td>
                    <img src="" id="artworkURL" data-path="" class="img-responsive" name="artworkURL"
                         width="140px" height="160px" style="display: block;float: left;">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    摘要
                </td>
                <td>
                    <input required type="text" name="summary" id="summary" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    发布时间
                </td>
                <td>
                    <input required type="text" id="releaseTimeStr" name="releaseTime" maxlength="20"
                           class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <!--
            <tr>
                <td class="form-item-title">
                    点赞数
                </td>
                <td>
                    <input required type="text" name="likenum" id="likenum" class="form-control"
                            readonly="readonly">
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    是否允许评论
                </td>
                <td>
                    <p required type="text" name="isReview" id="isReview"  class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    精华置顶
                </td>
                <td>
                    <p required type="text" name="isEssence" id="isEssence"  class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    是否需要审核
                </td>
                <td>
                    <p required type="text" name="isCheck" id="isCheck"  class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    审核结果
                </td>
                <td>
                    <p required type="text" name="result" id="result"  class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    审核状态
                </td>
                <td>
                    <p required type="text" name="status" id="status" class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    审核意见
                </td>
                <td>
                    <input required type="text" name="opinion"  id="opinion" class="form-control"
                            readonly="readonly">
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    审核人工号/学号
                </td>
                <td>
                    <input required type="text" name="approverNumber" id="approverNumber" class="form-control"
                            readonly="readonly">
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>
-->
            <tr>
                <td class="form-item-title">
                    是否发布
                </td>
                <td>
                    <p required type="text" name="isPublish" id="isPublish" class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    内容
                </td>
                <td>
                    <pre required type="text" name="content" id="content" readonly="readonly"></pre>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


        </table>
    </form>
</div>

