<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    内容
                </td>
                <td>
                    <input required type="text" name="content" maxlength="20" id="content" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    通知公告ID
                </td>
                <td>
                    <input required type="text" name="noticeId" id="noticeId" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    评论者学号/工号
                </td>
                <td>
                    <input required type="text" name="number" id="number" maxlength="20" class="form-control"
                           placeholder="请输入版本号，例如V1.0" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    评论时间
                </td>
                <td>
                    <input required type="text" name="reviewTime" id="reviewTimeStr" class="form-control"
                           placeholder="请选择时间" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    评论星级
                </td>
                <td>
                    <select required type="text" name="status" id="status" maxlength="20" class="form-control">
                        <option value=1>一星</option>
                        <option value=2>二星</option>
                        <option value=3>三星</option>
                        <option value=4>四星</option>
                        <option value=5>五星</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    点赞状态
                </td>
                <td>
                    <select required type="text" name="type" id="type" maxlength="20" class="form-control">
                        <option value=1>已赞</option>
                        <option value=2>未赞</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

        </table>
    </form>
</div>

<script>
    //日历控件的渲染
    //  laydate.render({
    //       elem:"#reviewTimeStr"
    //  });

    //如果有多个日历控件则多复制几个，注意分号隔开，如：
    // laydate.render({
    //     elem:"#releaseTime2Str"
    // });


    //富文本控件的渲染
    $(function () {
        editor.render('#detail');
        //如有多个富文本，直接在这个方法里加一行即可，如：
        //editor.render("#content2");
    })

</script>