<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    标题
                </td>
                <td>
                    <input required type="text" name="title" id="title" maxlength="20" class="form-control"
                           placeholder="请输入标题" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    主题
                </td>
                <td>
                    <input required type="text" name="topic" id="topic" maxlength="20" class="form-control"
                           placeholder="请输入主题" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    摘要
                </td>
                <td>
                    <input required type="text" name="summary" id="summary" maxlength="20" class="form-control"
                           placeholder="请输入摘要" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    封面图片
                </td>
                <td>

                    <img id="artworkURL" class="img-responsive" width="140px" height="160px">

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    开始时间
                </td>
                <td>
                    <input required type="text" name="startTime" id="startTimeStr" maxlength="20" class="form-control"
                           placeholder="请输入开始时间" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    结束时间
                </td>
                <td>
                    <input required type="text" name="endTime" id="endTimeStr" maxlength="20" class="form-control"
                           placeholder="请输入结束时间" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    性质
                </td>
                <td>
                    <p required name="property" id="property" class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <!--
            <tr>
                <td class="form-item-title">
                    是否允许评论
                </td>
                <td>
                    <p required name="isReview" id="isReview"  class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span ></span></td>
            </tr>-->
            <tr>
                <td class="form-item-title">
                    是否精华
                </td>
                <td>
                    <p required name="isEssence" id="isEssence" class="form-control" readonly="readonly">

                    </p>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

        </table>
    </form>
</div>
<script>
    // laydate.render({
    //     elem: "#startTimeStr",
    // });
    // laydate.render({
    //     elem: "#endTimeStr",
    // });
</script>