<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    工号/学号
                </td>
                <td>
                    <input required type="text" name="proposerNumber" id="proposerNumber" maxlength="20"
                           class="form-control"
                           placeholder="请输入工号/学号">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    次数
                </td>
                <td>
                    <input required type="text" name="count" id="count" maxlength="20" class="form-control"
                           placeholder="请输入次数">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    提交时间
                </td>
                <td>
                    <input required type="text" name="referTime" id="referTimeStr" maxlength="20" class="form-control"
                           placeholder="请输入提交时间">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    阶段
                </td>
                <td>
                    <select required type="text" name="stage" id="stage" maxlength="20" class="form-control">
                        <option value=1>积极分子</option>
                        <option value=2>发展对象</option>
                        <option value=3>预备党员</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    类型
                </td>
                <td>
                    <select required type="text" name="type" id="type" maxlength="20" class="form-control">
                        <option value=1>个人心得</option>
                        <option value=2>集中学习考核</option>
                        <option value=3>个人自传</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    状态
                </td>
                <td>
                    <select required type="text" name="status" id="status" maxlength="20" class="form-control">
                        <option value=1>未审</option>
                        <option value=2>已审</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    审核结果
                </td>
                <td>
                    <select required type="text" name="result" id="result" maxlength="20" class="form-control">
                        <option value=1>未通过</option>
                        <option value=2>通过</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    审核意见
                </td>
                <td>
                    <input required type="text" name="opinion" id="opinion" maxlength="50" class="form-control"
                           placeholder="请输入审核意见">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    审核人工号/学号
                </td>
                <td>
                    <input required type="text" name="verifierNumber" id="verifierNumber" maxlength="20"
                           class="form-control"
                           placeholder="请输入工号学号">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    内容
                </td>
                <td>
                    <textarea required type="text" name="content" id="content"
                              placeholder="请输入内容"></textarea>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    上版本内容
                </td>
                <td>
                    <textarea required type="text" name="lastContent" id="lastContent"
                              placeholder="请输入上版本内容"></textarea>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


        </table>
    </form>
</div>

<script>
    // 日历控件的渲染
    laydate.render({
        elem: "#referTimeStr"
    });

    // 如果有多个日历控件则多复制几个，注意分号隔开，如：
    // laydate.render({
    //     elem:"#releaseTime2Str"
    // });


    //富文本控件的渲染
    $(function () {
        editor.render('#content');
        //     //如有多个富文本，直接在这个方法里加一行即可，如：
        editor.render("#lastContent");
    })

</script>