<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <input type="text" name="chapterId" maxlength="50" hidden="hidden">

            <tr>
                <td class="form-item-title">
                    节名称
                </td>
                <td>
                    <input required type="text" name="name" maxlength="50" class="form-control"
                           placeholder="请输入节名称" readonly="readonly">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    节代码
                </td>
                <td>
                    <input required type="text" name="code" maxlength="50" class="form-control"
                           placeholder="请输入节代码" readonly="readonly">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    排序
                </td>
                <td>
                    <input required type="text" name="sort" maxlength="50" class="form-control"
                           placeholder="请输入序号" readonly="readonly">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>

            <tr>

                <td class="form-item-title">
                    类型
                </td>
                <td>
                    <select required type="text" name="type" class="form-control" readonly="readonly">
                        <option value="">请选择类型</option>
                        <option value="1">图文</option>
                        <option value="2">视频</option>
                    </select>
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    网课视频
                </td>
                <td>
                    <video id="VideoShow" controls="" preload="meta" data-setup="{}" src="" width="640" height="360"
                           class="note-video-clip" style="display: none;float: left;"></video>
                </td>
                <td class="form-item-remark"><span></span></td>

            </tr>
            <tr>
                <td class="form-item-title">
                    内容
                </td>
                <td>
                    <div id="secContent"></div>

                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
    $(function () {
        editor.render('#content');
    })
</script>