<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    学生学号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           placeholder="请输入学生学号">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    节内容代码
                </td>
                <td>
                    <input required type="text" name="sectionCode" maxlength="20" class="form-control"
                           placeholder="请输入节内容代码">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    测试分值
                </td>
                <td>
                    <input required type="text" name="testScore" maxlength="20" class="form-control"
                           placeholder="请输入测试分值">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    是否完成
                </td>
                <td>
                    <select required name="isFinish" id="isFinish" class="form-control">
                        <option value="1">未完成</option>
                        <option value="2">已完成</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    完成百分比
                </td>
                <td>
                    <input required type="text" name="learnPercent" maxlength="20" class="form-control"
                           placeholder="请输入完成百分比">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    进度存储
                </td>
                <td>
                    <input required type="text" name="note" maxlength="20" class="form-control"
                           placeholder="请输入进度存储">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    上次学习时间
                </td>
                <td>
                    <input required type="text" name="lastLearnTime" id="lastLearnTimeStr" maxlength="20"
                           class="form-control"
                           placeholder="请输入上次学习时间">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
    laydate.render({
        elem: "#lastLearnTimeStr",
    });
</script>