<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           placeholder="请输入用户学号/工号" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    考察时间
                </td>
                <td>
                    <input required type="text" name="surveyTime" id="surveyTimeStr" maxlength="20" class="form-control"
                           placeholder="请选择考察时间" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    阶段
                </td>
                <td>
                    <input required type="text" name="stage" id="stage" maxlength="20" class="form-control"
                           readonly="readonly">
                    <!--<select required name="stage" id="stage"  class="form-control"  readonly="readonly">-->
                    <!--<option value="1">积极分子</option>-->
                    <!--<option value="2">发展对象</option>-->
                    <!--<option value="3">预备党员</option>-->
                    <!--</select>-->

                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    次数
                </td>
                <td>
                    <input required type="number" min="1" name="count" maxlength="20" class="form-control"
                           readonly="readonly"
                           placeholder="请输入次数">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    考察情况
                </td>
                <td>
                    <textarea required type="text" name="surveyCondition" id="surveyCondition"
                              class="form-control"></textarea>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--审核状态-->
            <!--</td>-->
            <!--<td>-->
            <!--<select   name="approvalStatus"   class="form-control">-->
            <!--<option value="1">待审</option>-->
            <!--<option value="2">未审</option>-->
            <!--<option value="3">已审</option>-->
            <!--</select>-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--审核结果-->
            <!--</td>-->
            <!--<td>-->
            <!--<select name="approvalResult" class="form-control">-->
            <!--<option value="1">通过</option>-->
            <!--<option value="2">不通过</option>-->
            <!--</select>-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--类型-->
            <!--</td>-->
            <!--<td>-->
            <!--<select name="type" class="form-control">-->
            <!--<option value="1">考察</option>-->
            <!--<option value="2">谈话</option>-->
            <!--</select>-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="form-item-title">-->
            <!--审核意见-->
            <!--</td>-->
            <!--<td>-->
            <!--<textarea required type="text" name="approvalOpinion"  id="approvalOpinion"  class="form-control"></textarea>-->
            <!--</td>-->
            <!--<td class="form-item-remark"><span ></span></td>-->
            <!--</tr>-->

        </table>
    </form>
</div>
<script>

    $(function () {
        editor.render('#surveyCondition');
    });
    $(function () {
        editor.render('#approvalOpinion');
    })
</script>

