<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    用户学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           tips-id="user-tips" data-type="number" id="number"
                           placeholder="请输入用户学号/工号" onblur="checkRegular(this);">
                </td>
                <td class="form-item-remark" style="width: 40%">*<span style="color:black">必填</span> <span
                        id="user-tips"></span></td>
            </tr>


            <tr>
                <td class="form-item-title">
                    考察时间
                </td>
                <td>
                    <input required type="text" name="surveyTime" id="surveyTimeStr" maxlength="20" class="form-control"
                           tips-id="surveyTime-tips" placeholder="请选择考察时间" data-type="datetime"
                           onblur="checkRegular(this);">
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span id="surveyTime-tips"></span>
                </td>
            </tr>
            <tr>
                <td class="form-item-title">
                    阶段
                </td>
                <td>
                    <select required name="stage" id="stage" placeholder="请选择阶段" class="form-control">
                        <option value="1">积极分子</option>
                        <option value="2">发展对象</option>
                        <option value="3">预备党员</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    考察情况
                </td>
                <td>
                    <textarea required type="text" placeholder="请输入考察情况" tips-id="surveyCondition-tips"
                              data-length="255" name="surveyCondition" id="surveyCondition" class="form-control"
                              onblur="checkRegular(this);"></textarea>
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span
                        id="surveyCondition-tips"></span></td>
            </tr>


        </table>
    </form>
</div>
<script>
    laydate.render({
        elem: "#surveyTimeStr",
        type: "datetime"
    });

    $(function () {
        editor.render('#surveyCondition');
    });
    $(function () {
        editor.render('#approvalOpinion');
    })
</script>