<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           placeholder="请输入学号/工号">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    政治面貌
                </td>
                <td>
                    <select required name="politicalOutlook" id="politicalOutlook" class="form-control">
                        <option value=1>群众</option>
                        <option value=2>共青团员</option>
                        <option value=3>共产党员</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    所属学院
                </td>
                <td>
                    <input required type="text" name="academyCode" maxlength="20" class="form-control"
                           placeholder="请输入学院">
                    <!--<select required name="academyCode" id="academyCode"  class="form-control" >-->
                    <!--<option value=对应学院信息表里的学院代码>code</option>-->
                    <!--</select>-->
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    专业
                </td>
                <td>
                    <input required type="text" name="majorCode" maxlength="20" class="form-control"
                           placeholder="请输入专业">
                    <!--<select required name="majorCode" id="majorCode"  class="form-control" >-->
                    <!--<option value=>code</option>-->
                    <!--</select>-->
                </td>
                <td class="form-item-remark">*<span style="color:black">必填</span> <span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    班级
                </td>
                <td>
                    <input required type="text" name="myClass" maxlength="20" class="form-control"
                           placeholder="请输入班级">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    在读状态
                </td>
                <td>
                    <select required name="studyStatus" id="studyStatus" class="form-control">
                        <option value=1>在读</option>
                        <option value=2>毕业</option>
                    </select>
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    所属组织机构
                </td>
                <td>
                    <input required type="text" name="departCode" maxlength="20" class="form-control"
                           placeholder="请输入所属组织机构">
                    <!--<select required name="departCode" id="departCode"  class="form-control">-->
                    <!--<option value=对应组织机构表中的机构代码>code</option>-->
                    <!--</select>-->
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
        </table>
    </form>
</div>
<script>
</script>