<div class="table-responsive">
    <form id="opt-form">
        <table class="table table-bordered">
            <tr>
                <td class="form-item-title">
                    请假人学号/工号
                </td>
                <td>
                    <input required type="text" name="number" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    请假人姓名
                </td>
                <td>
                    <input required type="text" name="name" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    名称
                </td>
                <td>
                    <input required type="text" name="topic" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    请假类型
                </td>
                <td>
                    <input required type="text" name="type" maxlength="20" class="form-control" readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    请假理由
                </td>
                <td>
                    <input required type="text" name="reason" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>

            <tr>
                <td class="form-item-title">
                    提交时间
                </td>
                <td>
                    <input required type="text" name="createTime" id="createTimeStr" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    审批结果
                </td>
                <td>
                    <input required type="text" name="result" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    审批意见
                </td>
                <td>
                    <input required type="text" name="opinion" maxlength="20" class="form-control"
                           readonly="readonly">
                </td>
                <td class="form-item-remark"><span></span></td>
            </tr>


        </table>
    </form>
</div>
