@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsic* { padding: 0; margin: 0; font-weight: 400; } .multi-picker-locked { height: 100% !important; overflow: hidden !important; } .multi-picker-bg-delay { z-index: 999!important; } .multi-picker-bg { position: fixed; top: 0; left: 0; background: rgba(75, 75, 75, 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: -1;
}

.multi-picker-bg-up {
    z-index: 999 !important;
    background: rgba(75, 75, 75, 0.65) !important;
}

.multi-picker-container {
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    transform: translate3d(0, 101%, 0);
    -webkit-transform: translate3d(0, 101%, 0);
    left: 0;
    background-color: #FFF;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    z-index: -1;
}

.multi-picker-container-up {
    transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
}

.multi-picker-btn-box {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgba(218, 218, 218, .7);
    z-index: 10;
}

.multi-picker-btn-box .multi-picker-btn {
    position: absolute;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    right: 0;
}

.multi-picker-btn-box .multi-picker-btn:nth-child(1) {
    left: 0;
    right: initial;
}

.multi-picker-content {
    position: absolute;
    width: 100%;
    background: #fff;
    font-size: 0;
    top: 50px;
    z-index: 10;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
}

.multi-picker-content .multi-picker {
    display: inline-block;
    height: 200px;
    overflow: hidden;
    position: relative;
    z-index: -1;
    transition: width .3s ease;
    vertical-align: top;
    top: 0;
}

.multi-picker-content ul::-webkit-scrollbar {
    display: none;
}

.multi-picker-content li {
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    list-style: none;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multi-picker-content .multi-picker-up-shadow, .multi-picker-content .multi-picker-down-shadow {
    position: absolute;
    width: 100%;
    height: 80px;
    pointer-events: none;
}

.multi-picker-content .multi-picker-up-shadow {
    top: 0;
    background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
    z-index: 50;
}

.multi-picker-content .multi-picker-down-shadow {
    bottom: -200px;
    z-index: 50;
    background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
}

.multi-picker-content .multi-picker-line {
    width: 95%;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 50%;
    pointer-events: none;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

/*# sourceMappingURL=index.css.map */
ons.ttf

') format('
truetype

'),
url
(
'../fonts/codropsicons/codropsicons.svg#codropsicons'
)
format
(
'svg'
)
;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background: #fff;
    color: #8a8c7e;
    font-size: 100%;
    line-height: 1.25;
    font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
}

a {
    color: #99cc33;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #373e18;
}

.codrops-header {
    margin: 0 auto;
    padding: 2em 0 0;
    text-align: center;
}

.codrops-header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.5em;
}

.codrops-header h1 span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 0.6em;
    opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.69em;
    line-height: 2.2;
    background: #fff;
}

.codrops-top a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    display: block;
    float: left;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.codrops-demos {
    margin: 30px auto 0;
    padding: 30px 0;
}

.codrops-demos a,
section button {
    display: inline-block;
    background: #a9a9a9;
    color: #000000;
    width: 80%
    font-size: 20px;

    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: 1px;
}

.codrops-demos a:hover,
.codrops-demos a:active,
.codrops-demos a.current-demo {
    background: #777;
}

p {
    padding: 10px 10px;
}

section {

    text-align: left;
    font-size: 20px;
}

section p {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

section button {
    border: none;
    padding: 15px 30px;
    outline: none;
    background: #FFFFFF;
}

.related > a {
    border: 1px solid #99cc33;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    color: #99cc33;
    opacity: 0.8;
    -webkit-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
    -webkit-backface-visibility: hidden;
}

.related a:hover {
    border-color: #82b222;
    color: #82b222;
}

.related a img {
    max-width: 100%;
}

.related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: left;
    font-size: 65%;
    font-weight: 400;
}

@media screen and (max-width: 25em) {
    .codrops-icon span {
        display: none;
    }
}